@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;

}

#main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:yellow ;
}

#imgTag {
    width: 100%;
    height: 100%;
}

.imgParent {
    width: 80%;
    height: 90%;
    background-color: #202020;
}

.btn {
    width: 130px;
    height: 40px;
    font-size: 20px;
    background-color: blue;
    color: #ffffff;
    display: flex;
    align-items: center;
    font-family: "Roboto";
}
.btntwo{
    width: 130px;
    height: 40px;
    font-size: 20px;
    background-color: red;
    color: #ffffff;
    display: flex;
    align-items: center;
    font-family: "Roboto";
}


.btnParent {
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}


@media screen and (min-width: 2560px) {
    .btn {
        width: 175px;
        height: 60px;
        font-size: 28px;
        justify-content: center;
    }
    .btntwo{
        width: 175px;
        height: 60px;
        font-size: 28px;
        justify-content: center;
    }

    .arrow {
        width: 30%;
    }

    .btnParent {
        width: 75%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 10px;
    }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
    .imgParent {
        width: 90%;
        height: 40%;
        background-color: #202020;
    }
}

@media screen and (max-width: 768px) {
    .imgParent {
        width: 90%;
        height: 75%;
        background-color: #202020;
    }
}